@import '../theme/themes.scss';

$default-distance: 3rem;

.app-bar {
    display: flex;
    flex-grow: 0 1 auto;

    @include themify($themes) {
        font-size: 1.3rem;
        color: themed($secondaryColor);
    }

    .menu-text {
        margin: 0.8rem $default-distance;
    }
    
    .menu {
        flex-grow: 1;
        display: flex;
    }
    
    .left {
        align-self: flex-start;
        padding-left: $default-distance;
    }
    
    .right{
        justify-content: flex-end;
        padding-right: $default-distance;
    }
    
    .title {
        flex-grow: 1;
    }
}
