@import "./theme/themes.scss";

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include themify($themes) {
    background-color: themed($backgroundColor);
  }
}
